{% load staticfiles %}
<html>
    <head>

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'board.css' %}">


      </head>
    <body>
    {% if form %}
    {{ form.media }}
    {% endif %}

<div class="page-header-main">
<a href="/"><img src="{% static 'images/logo_django.png' %}" align="right"></img></a>

		{% if user.is_authenticated %}
		<p class="top-menu">Hola {{ user.username }}! <small>(<a href="{% url 'logout' %}">Log out</a>)</small> |
		<a href="{% url 'entrega_new' %}" align="right">   Nueva Entrega <span class="glyphicon glyphicon-plus"></span></a>	 |       
		<a href="/"> Lista de Entregas</a></p>
			
		{% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
	
		{% endif %}
         </div>  
            {% block content %}
            {% endblock %}
         
</body>
</html>

